.v-application .custom-card {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.v-application .custom-btn {
  border: 1px solid #609966;
  box-shadow: none;
  color: #609966;
  background-color: white;
}

.v-application .custom-btn:hover {
  background-color: #609966;
  color: white;
}

.v-application .custom-link {
  color: #609966;
  text-decoration: none;
}

.v-application .custom-link:hover {
  text-decoration: underline;
}
